<p><h1> <%= @dish.name %> </h1></p>
<p><h3> Description: </h3> <%= @dish.description %></p>
<p><h3> Chef: </h3> <%= @dish.chef.name %></p>
<p><h3> Ingredients: </h3>
<% @dish.ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %></p>
<p><h3> Total Calories: </h3> <%= @dish.sum_calories %></p>
